@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body, html {
  font-family: 'Roboto', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}